name: Publish Python distribution to PyPI and TestPyPI

on:
  workflow_dispatch:
  push:
    tags:
      - '[0-9].[0-9].[0-9]'
      - '[0-9].[0-9].[0-9]rc[0-9]'

jobs:
  test:
    uses: ./.github/workflows/test.yml

  build:
    name: Build distribution
    needs: test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.x"
    - name: Install pypa/build
      run: >-
        python3 -m
        pip install
        build
        --user
    - name: Build a binary wheel and a source tarball
      run: python3 -m build
    - name: Store the distribution packages
      uses: actions/upload-artifact@v5
      with:
        name: python-package-distributions
        path: dist/

  publish-to-pypi:
    name: Publish Python distribution to PyPI
    if: ${{ !contains(github.ref_name, 'rc') }} # only publish to PyPI on non release candidate tag pushes
    needs:
    - build
    runs-on: ubuntu-latest

    environment:
      name: pypi

    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing

    steps:
    - name: Download all the dists
      uses: actions/download-artifact@v6
      with:
        name: python-package-distributions
        path: dist/
    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1

  publish-to-testpypi:
    name: Publish Python  distribution to TestPyPI
    if: contains(github.ref_name, 'rc')  # only publish to TestPyPI on release candidate tag pushes
    needs:
    - build
    runs-on: ubuntu-latest

    environment:
      name: testpypi

    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing

    steps:
    - name: Download all the dists
      uses: actions/download-artifact@v6
      with:
        name: python-package-distributions
        path: dist/
    - name: Publish distribution to TestPyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/
